.progress {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* Assurez-vous que rien ne dépasse du cercle */
}

.progress i {
    position: absolute;
    width: 100%;
    /* Permet à l'élément i de s'étendre sur tout le cercle */
    height: 100%;
    transform: rotate(calc(var(--i) * (360deg / var(--tlt-br-cnt))));
}

.progress i::after {
    content: '';
    position: absolute;
    top: 10px;
    /* Positionne le début des barres juste à l'intérieur du cercle */
    left: 50%;
    /* Centre les barres horizontalement */
    background: hsla(0, 0%, 100%, 0.12);
    /* Couleur des barres inactives */
    width: 2px;
    /* Largeur des barres */
    height: 15px;
    /* Longueur des barres */
    border-radius: 2px;
    /* Rayon de bordure pour adoucir les bords des barres */
    transform: translateX(-50%) rotate(0deg);
    /* Centre les barres verticalement */
    transform-origin: top;
    /* Origine de la transformation au sommet des barres */
    opacity: 0;
    /* Commence avec une opacité de 0 pour l'animation */
}

.progress .selected-demo::after {
    background: hsl(60, 100%, 50%);
    /* Couleur des barres actives */
    box-shadow:
        0 0 1px hsl(60, 100%, 50%),
        0 0 3px hsl(60, 100%, 30%),
        0 0 4px hsl(60, 100%, 10%);
}

.percent-text {
    font-size: 3rem;
    /* Taille du texte pour le pourcentage */
    color: yellow;
    /* Couleur du texte */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centre le texte dans le cercle */
    opacity: 0;
    /* Commence avec une opacité de 0 pour l'animation */
}

/* Classe pour contrôler l'animation des barres */
.animate::after {
    animation: barCreationAnimation 100ms ease forwards;
    animation-delay: calc(var(--i) * 15ms);
}

/* Classe pour contrôler l'apparition du texte */
.animate-text {
    animation: textAppear 500ms ease forwards;
    animation-delay: calc(var(--tlt-br-cnt) * 15ms / 2);
}

@keyframes barCreationAnimation {
    to {
        opacity: 1;
    }
}

@keyframes textAppear {
    to {
        opacity: 1;
    }
}