.progress {
    position: relative;
    width: 200px;
    /* La taille totale de votre composant */
    height: 200px;
    /* La taille totale de votre composant */
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressSvg {
    transform: rotate(-90deg);
    /* Orienter le début de la barre en haut */
}

.progressMeter {
    fill: none;
    stroke: rgb(255, 255, 255);
    /* La couleur de la barre de progression */
    stroke-width: 10;
    /* L'épaisseur de la barre de progression */
    transition: stroke-dashoffset 2s ease 0s;
    stroke-linecap: round;
    /* Les extrémités de la barre de progression arrondies */
}

.progressValue {
    position: absolute;
    color: rgb(255, 255, 255);
    /* La couleur du texte pour le pourcentage */
    font-size: 2rem;
    /* La taille du texte pour le pourcentage */
    text-align: center;
}

.progressBg {
    fill: none;
    stroke: #333;
    /* Couleur du cercle de fond */
    stroke-width: 10;
    /* Assurez-vous que cela correspond au stroke-width du cercle de progression */
}